# PANDAS ASSINGMENT 3 EDYODA

In [1]:
import numpy as np
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [6]:
df = pd.read_csv(url , sep ='\t')

In [7]:
df.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [9]:
df.sort_values(by ='item_name' , ascending = True).reset_index(drop= True)

      order_id  ...  item_price
0         1360  ...     $12.98
1          148  ...      $6.49
2          749  ...      $6.49
3          754  ...      $6.49
4         1076  ...      $6.49
...        ...  ...         ...
4617       948  ...      $8.75
4618       322  ...      $8.75
4619      1132  ...      $8.49
4620       688  ...     $11.25
4621       567  ...      $8.49

[4622 rows x 5 columns]

In [10]:
count_veggi_salad = np.count_nonzero(df.item_name == 'Veggie Salad Bowl')
print(count_veggi_salad)

18

In [13]:
canned_soda = np.count_nonzero((df.item_name == 'Canned Soda') & (df.quantity > 1))

In [14]:
print(canned_soda)

20

# New DataSet

In [35]:
euro12 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv', sep=',')
euro12.head()

             Team  Goals  Shots on target  ...  Subs on Subs off Players Used
0         Croatia      4               13  ...        9        9           16
1  Czech Republic      4               13  ...       11       11           19
2         Denmark      4               10  ...        7        7           15
3         England      5               11  ...       11       11           16
4          France      3               22  ...       11       11           19

[5 rows x 35 columns]

In [36]:
euro12.shape

(16, 35)

In [37]:
euro12.set_index("Team", inplace = True)

In [38]:
euro12.head()

                Goals  Shots on target  ...  Subs off Players Used
Team                                    ...
Croatia             4               13  ...         9           16
Czech Republic      4               13  ...        11           19
Denmark             4               10  ...         7           15
England             5               11  ...        11           16
France              3               22  ...        11           19

[5 rows x 34 columns]

In [48]:
euro12[(euro12['Goals'] > 6)]

         Goals  Shots on target  ...  Subs off Players Used
Team                             ...
Germany     10               32  ...        15           17
Spain       12               42  ...        17           18

[2 rows x 34 columns]

In [51]:
euro12.loc['England']

Goals                             5
Shots on target                  11
Shots off target                 18
Shooting Accuracy             50.0%
% Goals-to-shots              17.2%
Total shots (inc. Blocked)       40
Hit Woodwork                      0
Penalty goals                     0
Penalties not scored              0
Headed goals                      3
Passes                         1488
Passes completed               1200
Passing Accuracy              80.6%
Touches                        2440
Crosses                          58
Dribbles                         60
Corners Taken                    16
Tackles                          86
Clearances                      106
Interceptions                    72
Clearances off line               1
Clean Sheets                      2
Blocks                           29
Goals conceded                    3
Saves made                       22
Saves-to-shots ratio          88.1%
Fouls Won                        43
Fouls Conceded                   45
Offsides                          6
Yellow Cards                      5
Red Cards                         0
Subs on                          11
Subs off                         11
Players Used                     16
Name: England, dtype: object

In [61]:
euro12.head(5)

                Goals  Shots on target  ...  Subs off Players Used
Team                                    ...
Croatia             4               13  ...         9           16
Czech Republic      4               13  ...        11           19
Denmark             4               10  ...         7           15
England             5               11  ...        11           16
France              3               22  ...        11           19

[5 rows x 34 columns]

In [62]:
euro12.iloc[ : , :7]

                     Goals  ...  Hit Woodwork
Team                        ...
Croatia                  4  ...             0
Czech Republic           4  ...             0
Denmark                  4  ...             1
England                  5  ...             0
France                   3  ...             1
Germany                 10  ...             2
Greece                   5  ...             1
Italy                    6  ...             2
Netherlands              2  ...             2
Poland                   2  ...             0
Portugal                 6  ...             6
Republic of Ireland      1  ...             0
Russia                   5  ...             2
Spain                   12  ...             0
Sweden                   5  ...             3
Ukraine                  2  ...             0

[16 rows x 7 columns]

In [64]:
euro12.loc[['Denmark','Germany','Italy']  , ['Goals','Blocks'] ]

         Goals  Blocks
Team
Denmark      4      10
Germany     10      11
Italy        6      18

In [65]:
euro12.loc[['England','Russia','Italy'] , ['Shooting Accuracy']]

        Shooting Accuracy
Team
England             50.0%
Russia              22.5%
Italy               43.0%